# build output
**/dist
**/target

# node
**/.turbo
**/*.tsbuildinfo
**/node_modules

# opencode
.opencode/repos
.opencode/plans

# IDE
**/*.iml
**/*.ipr
**/*.iws
**/.idea
**/.project
**/.settings
**/.classpath
**/.factorypath
**/kls_database.db
