-Xshare:auto
-Xms256m
-Xmx1g
-XX:+TieredCompilation
-XX:TieredStopAtLevel=1
-XX:ReservedCodeCacheSize=64m
-XX:+UseG1GC
-XX:MaxGCPauseMillis=100
-XX:+UseStringDeduplication
-XX:+UseCompressedOops
-XX:+AlwaysPreTouch
-XX:InitiatingHeapOccupancyPercent=35
-Djava.awt.headless=true
-Dfile.encoding=UTF-8
-Djava.security.egd=file:/dev/./urandom
-Dspring.jmx.enabled=false
-Dspring.output.ansi.enabled=detect