-T 1C
--batch-mode
--no-transfer-progress
-Dmaven.compiler.fork=true
-Dmaven.compiler.maxmem=512m
-Dmaven.compiler.useIncrementalCompilation=true
-Dkotlin.compiler.incremental=true
-Dkotlin.compiler.keepIncrementalCompilationCachesInMemory=true
-Dkotlin.daemon.jvm.options="-Xms256m,-Xmx1g,-XX:+UseParallelGC"
-Dmaven.artifact.threads=8
-Dmaven.resolver.transport=wagon
-Dmaven.wagon.httpconnectionManager.ttlSeconds=120
-Dmaven.wagon.http.retryHandler.requestSentEnabled=true
-Dmaven.test.redirectTestOutputToFile=true
-Dmaven.javadoc.failOnError=false