@import "@xyflow/react/dist/base.css";

/* Global reset */
* {
	outline: none;
	appearance: none;
}

/* Default */
html {
	text-wrap: nowrap;
	user-select: none;

	color: var(--color-text);
	background: var(--color-background);
	font-family: var(--font-family-text);
}

/* Html table */
table {
	border-collapse: separate;
	border-spacing: 0;
}

/* Input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	color: transparent;
	background: transparent;
	cursor: pointer;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button {
	display: none;
}
input[type="file"]::-webkit-file-upload-button {
	visibility: hidden;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
}
input[type="file"]::file-selector-button {
	visibility: hidden;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
}

/* Cursor */
button,
select {
	cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
	cursor: text;
}
input[type="checkbox"],
input[type="radio"],
input[type="file"] {
	cursor: pointer;
}
button:disabled,
[type="button"]:disabled,
[type="submit"]:disabled,
[type="reset"]:disabled,
select:disabled,
input:disabled {
	cursor: not-allowed;
}

/* Scrollbar  */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	background-color: var(--color-accent);
	border: 3px solid transparent;
	border-right: 2px solid transparent;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-border);
}
::-webkit-scrollbar-track {
	background-color: var(--color-background);
	border-left: 1px solid var(--color-border);
}
::-webkit-scrollbar-corner {
	background: var(--color-background);
}
/* Firefox scrollbar */
* {
	scrollbar-color: var(--color-accent) var(--color-background);
	scrollbar-width: thin;
}

/* Text selection */
::selection,
*::selection {
	background: var(--color-selected);
	color: var(--color-foreground);
}

/* React Flow graph styles */
.react-flow__handle {
	padding: 5px;
	background-color: var(--color-border);
	border: 0px;
	border-radius: 3px;
}

.react-flow__edge > * {
	stroke: var(--color-border);
	stroke-width: 2px;
}
