@import "./reset.css";

@font-face {
	font-family: "Carbon Regular";
	src: url(../static/font.woff2) format("woff2");
}

@font-face {
	font-family: "Material Symbols Outlined";
	src: url(../static/icons.woff2) format("woff2");
}

/* tailwindcss config */
@theme {
	--color-\*: initial;
	--font-\*: initial;

	/* typography */
	--font-family-text: "Carbon Regular";
	--font-family-icons: "Material Symbols Outlined";

	/* spacing */
	--spacing: 0.25rem;

	/* border radius */
	--radius: 0rem;

	/* primary colors */
	--color-accent: oklch(0.7214 0.1337 49.9802);
	--color-muted: oklch(0.22 0 0);
	--color-background: oklch(0.1797 0.0043 308.1928);
	--color-foreground: oklch(0.1822 0 0);

	/* text colors */
	--color-text: oklch(0.8109 0 0);
	--color-text-muted: oklch(0.6268 0 0);
	--color-text-disabled: oklch(0.4 0 0);

	/* state colors */
	--color-border: oklch(0.252 0 0);
	--color-hover: oklch(0.3211 0 0);
	--color-selected: oklch(0.7214 0.1337 49.9802);
	--color-disabled: oklch(0.22 0 0);

	/* semantic colors */
	--color-info: oklch(0.594 0.0443 196.0233);
	--color-error: oklch(0.6447 0.1838 23.8221);
	--color-warning: oklch(0.8721 0.0864 68.5474);
	--color-destructive: oklch(0.6447 0.1838 23.8221);
}

@media (prefers-color-scheme: light) {
	:root {
		/* primary colors */
		--color-accent: oklch(0.6716 0.1368 48.513);
		--color-muted: oklch(0.967 0.0029 264.5419);
		--color-background: oklch(1 0 0);
		--color-foreground: oklch(1 0 0);

		/* text colors */
		--color-text: oklch(0.2101 0.0318 264.6645);
		--color-text-muted: oklch(0.551 0.0234 264.3637);
		--color-text-disabled: oklch(0.7 0.01 264);

		/* state colors */
		--color-border: oklch(0.9276 0.0058 264.5313);
		--color-hover: oklch(0.9491 0 0);
		--color-selected: oklch(0.6716 0.1368 48.513);
		--color-disabled: oklch(0.95 0.003 264);

		/* semantic colors */
		--color-info: oklch(0.594 0.0443 196.0233);
		--color-error: oklch(0.6368 0.2078 25.3313);
		--color-warning: oklch(0.8721 0.0864 68.5474);
		--color-destructive: oklch(0.6368 0.2078 25.3313);
	}
}
